# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [155]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Operations").getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [156]:
df = spark.read.csv('walmart_stock.csv',inferSchema=True,header=True)

#### What are the column names?

In [157]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [158]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [159]:
for rw in df.head(5):
    print(rw)

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)
Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)
Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)
Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)
Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

#### Use describe() to learn about the DataFrame.

In [160]:
df_ = df.describe()
print(type(df_))
df_.show()
df_.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [111]:
# sales_std.select(format_number('std',2).alias("std")).show()
from pyspark.sql.functions import format_number
# convert to numerics
df_ = df_.withColumn("Open", df_.Open.cast('float').cast('float'))
df_ = df_.withColumn("High", df_.High.cast('float').cast('float'))
df_ = df_.withColumn("Low", df_.Low.cast('float').cast('float'))
df_ = df_.withColumn("Close", df_.Close.cast('float').cast('float'))
df_ = df_.withColumn("Volume", df_.Volume.cast('float').cast('float'))
df_ = df_.withColumn("Adj Close", df_['Adj Close'].cast('float'))

In [113]:
df_.show()

+-------+---------+---------+--------+---------+-----------+---------+
|summary|     Open|     High|     Low|    Close|     Volume|Adj Close|
+-------+---------+---------+--------+---------+-----------+---------+
|  count|   1258.0|   1258.0|  1258.0|   1258.0|     1258.0|     null|
|   mean| 72.35786|72.839386| 71.9186| 72.38845|  8222093.5|    67.24|
| stddev|6.7680902| 6.768187|6.744076|6.7568593|  4519781.0|     6.72|
|    min|    56.39|    57.06|    56.3|    56.42|  2094900.0|    50.36|
|    max|     90.8|    90.97|   89.25|    90.47|8.0898096E7|    84.91|
+-------+---------+---------+--------+---------+-----------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [114]:
df_ = df_.withColumn("HV Ratio", (df_.High/df_.Volume ) )
df_.show()

+-------+---------+---------+--------+---------+-----------+---------+--------------------+
|summary|     Open|     High|     Low|    Close|     Volume|Adj Close|            HV Ratio|
+-------+---------+---------+--------+---------+-----------+---------+--------------------+
|  count|   1258.0|   1258.0|  1258.0|   1258.0|     1258.0|     null|                 1.0|
|   mean| 72.35786|72.839386| 71.9186| 72.38845|  8222093.5|    67.24|8.858982932549736E-6|
| stddev|6.7680902| 6.768187|6.744076|6.7568593|  4519781.0|     6.72|1.497459068492704...|
|    min|    56.39|    57.06|    56.3|    56.42|  2094900.0|    50.36|2.723757762818798...|
|    max|     90.8|    90.97|   89.25|    90.47|8.0898096E7|    84.91|1.124501140554694E-6|
+-------+---------+---------+--------+---------+-----------+---------+--------------------+

#### What day had the Peak High in Price?

In [131]:
mx = df.agg({'High':'max'}).collect()[0][0]
day_max = df.filter(df.High==mx).select("Date").collect()[0]
print(day_max)

Row(Date=datetime.datetime(2015, 1, 13, 0, 0))

#### What is the mean of the Close column?

In [135]:
close_mean = df.agg({'Close':'mean'})
print(close_mean.show())

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

None

#### What is the max and min of the Volume column?

In [139]:
min_vol, max_vol = df.agg({'Volume':'min'}), df.agg({'Volume':'max'})
print(min_vol.collect(),max_vol.collect())

[Row(min(Volume)=2094900)] [Row(max(Volume)=80898100)]

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [141]:
print( df.filter(df.Close < 60).count() )

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [143]:
print( df.filter(df.High > 80).count()/df.count() )

0.09141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [161]:
from pyspark.sql.functions import corr
df.select(corr("High","Volume")).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [148]:
from pyspark.sql.functions import format_number,dayofmonth,hour,dayofyear,month,year,weekofyear,date_format

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Year: integer (nullable = true)

In [151]:
df = df.withColumn("Year", year(df['Date']) )
df.groupby("Year").max("High").show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [154]:
df = df.withColumn("Month", month(df['Date']) )
df.groupby("Month").avg("Close").orderBy("Month").show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

# Great Job!