# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import tensorflow as tf

In [19]:
df = pd.read_csv('census_data.csv')
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

### Perform a Train Test Split on the Data

In [20]:
# create a label
# NB:  ' >50K' not '>50K'
df['label'] = 0
df.loc[df['income_bracket']==" >50K",'label'] = 1

# split the data
y_val = df['label']
x_data = df.drop('income_bracket',axis=1).drop('label',axis=1)

test_size, seedval = .30, 101

# I don't like his notation but I am adopting.  I would normally have X_test or X_train
# as df_test & df_train
X_train, X_test, y_train, y_test = train_test_split(x_data,y_val,
                                        test_size=test_size,random_state=seedval)

In [21]:
x_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [22]:
# cats
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

# numerics
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [23]:
input_func_train=tf.estimator.inputs.pandas_input_fn(
    x=X_train,y=y_train,batch_size=250,
    num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [24]:
LCM_model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/9y/n0rxh9rj60q4v8zgsclp0gm97tm33p/T/tmp3gnxeb2c
INFO:tensorflow:Using config: {'_log_step_count_steps': 100, '_save_checkpoints_steps': None, '_save_summary_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_tf_random_seed': 1, '_model_dir': '/var/folders/9y/n0rxh9rj60q4v8zgsclp0gm97tm33p/T/tmp3gnxeb2c', '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5}

** Train your model on the data, for at least 5000 steps. **

In [25]:
LCM_model.train(input_fn=input_func_train,steps=10000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/9y/n0rxh9rj60q4v8zgsclp0gm97tm33p/T/tmp3gnxeb2c/model.ckpt.
INFO:tensorflow:loss = 173.287, step = 1
INFO:tensorflow:global_step/sec: 172.837
INFO:tensorflow:loss = 820.552, step = 101 (0.580 sec)
INFO:tensorflow:global_step/sec: 187.308
INFO:tensorflow:loss = 439.485, step = 201 (0.534 sec)
INFO:tensorflow:global_step/sec: 235.911
INFO:tensorflow:loss = 134.331, step = 301 (0.424 sec)
INFO:tensorflow:global_step/sec: 252.953
INFO:tensorflow:loss = 135.146, step = 401 (0.395 sec)
INFO:tensorflow:global_step/sec: 269.157
INFO:tensorflow:loss = 264.662, step = 501 (0.372 sec)
INFO:tensorflow:global_step/sec: 253.213
INFO:tensorflow:loss = 651.25, step = 601 (0.395 sec)
INFO:tensorflow:global_step/sec: 230.185
INFO:tensorflow:loss = 102.806, step = 701 (0.435 sec)
INFO:tensorflow:global_step/sec: 186.469
INFO:tensorflow:loss = 138.464, step = 801 (0.536 sec)
INFO:tensorflow:global_step/sec: 187.513
INFO:tensorflow:loss = 103.007, step = 901 (0.533 sec)
INFO:tensorflow:global_step/sec: 187.144
INFO:tensorflow:loss = 251.681, step = 1001 (0.534 sec)
INFO:tensorflow:global_step/sec: 187.01
INFO:tensorflow:loss = 132.923, step = 1101 (0.535 sec)
INFO:tensorflow:global_step/sec: 216.302
INFO:tensorflow:loss = 688.528, step = 1201 (0.462 sec)
INFO:tensorflow:global_step/sec: 187.469
INFO:tensorflow:loss = 365.297, step = 1301 (0.533 sec)
INFO:tensorflow:global_step/sec: 185.554
INFO:tensorflow:loss = 224.128, step = 1401 (0.539 sec)
INFO:tensorflow:global_step/sec: 187.225
INFO:tensorflow:loss = 290.178, step = 1501 (0.534 sec)
INFO:tensorflow:global_step/sec: 187.148
INFO:tensorflow:loss = 216.843, step = 1601 (0.534 sec)
INFO:tensorflow:global_step/sec: 187.078
INFO:tensorflow:loss = 112.637, step = 1701 (0.535 sec)
INFO:tensorflow:global_step/sec: 186.709
INFO:tensorflow:loss = 177.7, step = 1801 (0.536 sec)
INFO:tensorflow:global_step/sec: 188.449
INFO:tensorflow:loss = 96.9993, step = 1901 (0.531 sec)
INFO:tensorflow:global_step/sec: 185.694
INFO:tensorflow:loss = 76.792, step = 2001 (0.539 sec)
INFO:tensorflow:global_step/sec: 187.208
INFO:tensorflow:loss = 551.998, step = 2101 (0.534 sec)
INFO:tensorflow:global_step/sec: 187.975
INFO:tensorflow:loss = 387.905, step = 2201 (0.532 sec)
INFO:tensorflow:global_step/sec: 241.306
INFO:tensorflow:loss = 119.425, step = 2301 (0.414 sec)
INFO:tensorflow:global_step/sec: 227.046
INFO:tensorflow:loss = 86.446, step = 2401 (0.440 sec)
INFO:tensorflow:global_step/sec: 248.733
INFO:tensorflow:loss = 112.695, step = 2501 (0.402 sec)
INFO:tensorflow:global_step/sec: 186.396
INFO:tensorflow:loss = 109.54, step = 2601 (0.536 sec)
INFO:tensorflow:global_step/sec: 187.92
INFO:tensorflow:loss = 122.196, step = 2701 (0.532 sec)
INFO:tensorflow:global_step/sec: 186.36
INFO:tensorflow:loss = 96.7621, step = 2801 (0.537 sec)
INFO:tensorflow:global_step/sec: 184.165
INFO:tensorflow:loss = 266.232, step = 2901 (0.543 sec)
INFO:tensorflow:global_step/sec: 187.517
INFO:tensorflow:loss = 109.155, step = 3001 (0.534 sec)
INFO:tensorflow:global_step/sec: 186.232
INFO:tensorflow:loss = 105.383, step = 3101 (0.537 sec)
INFO:tensorflow:global_step/sec: 180.944
INFO:tensorflow:loss = 84.911, step = 3201 (0.553 sec)
INFO:tensorflow:global_step/sec: 169.39
INFO:tensorflow:loss = 76.6664, step = 3301 (0.590 sec)
INFO:tensorflow:global_step/sec: 183.204
INFO:tensorflow:loss = 266.896, step = 3401 (0.546 sec)
INFO:tensorflow:global_step/sec: 240.508
INFO:tensorflow:loss = 107.863, step = 3501 (0.416 sec)
INFO:tensorflow:global_step/sec: 173.843
INFO:tensorflow:loss = 291.103, step = 3601 (0.575 sec)
INFO:tensorflow:global_step/sec: 178.565
INFO:tensorflow:loss = 189.114, step = 3701 (0.560 sec)
INFO:tensorflow:global_step/sec: 172.314
INFO:tensorflow:loss = 196.608, step = 3801 (0.581 sec)
INFO:tensorflow:global_step/sec: 169.672
INFO:tensorflow:loss = 89.9356, step = 3901 (0.589 sec)
INFO:tensorflow:global_step/sec: 171.083
INFO:tensorflow:loss = 712.567, step = 4001 (0.584 sec)
INFO:tensorflow:global_step/sec: 171.855
INFO:tensorflow:loss = 160.693, step = 4101 (0.582 sec)
INFO:tensorflow:global_step/sec: 217.179
INFO:tensorflow:loss = 423.953, step = 4201 (0.461 sec)
INFO:tensorflow:global_step/sec: 177.297
INFO:tensorflow:loss = 364.858, step = 4301 (0.564 sec)
INFO:tensorflow:global_step/sec: 209.628
INFO:tensorflow:loss = 92.2788, step = 4401 (0.477 sec)
INFO:tensorflow:global_step/sec: 191.498
INFO:tensorflow:loss = 70.6505, step = 4501 (0.522 sec)
INFO:tensorflow:global_step/sec: 194.786
INFO:tensorflow:loss = 191.902, step = 4601 (0.514 sec)
INFO:tensorflow:global_step/sec: 185.378
INFO:tensorflow:loss = 116.657, step = 4701 (0.539 sec)
INFO:tensorflow:global_step/sec: 233.043
INFO:tensorflow:loss = 104.282, step = 4801 (0.429 sec)
INFO:tensorflow:global_step/sec: 241.32
INFO:tensorflow:loss = 299.683, step = 4901 (0.415 sec)
INFO:tensorflow:global_step/sec: 257.67
INFO:tensorflow:loss = 190.497, step = 5001 (0.388 sec)
INFO:tensorflow:global_step/sec: 211.98
INFO:tensorflow:loss = 120.4, step = 5101 (0.472 sec)
INFO:tensorflow:global_step/sec: 178.264
INFO:tensorflow:loss = 143.249, step = 5201 (0.561 sec)
INFO:tensorflow:global_step/sec: 198.629
INFO:tensorflow:loss = 506.342, step = 5301 (0.503 sec)
INFO:tensorflow:global_step/sec: 169.389
INFO:tensorflow:loss = 151.385, step = 5401 (0.590 sec)
INFO:tensorflow:global_step/sec: 176.888
INFO:tensorflow:loss = 92.525, step = 5501 (0.565 sec)
INFO:tensorflow:global_step/sec: 179.537
INFO:tensorflow:loss = 70.249, step = 5601 (0.557 sec)
INFO:tensorflow:global_step/sec: 177.46
INFO:tensorflow:loss = 96.4213, step = 5701 (0.564 sec)
INFO:tensorflow:global_step/sec: 199.087
INFO:tensorflow:loss = 172.777, step = 5801 (0.502 sec)
INFO:tensorflow:global_step/sec: 202.537
INFO:tensorflow:loss = 207.142, step = 5901 (0.494 sec)
INFO:tensorflow:global_step/sec: 231.879
INFO:tensorflow:loss = 90.5459, step = 6001 (0.431 sec)
INFO:tensorflow:global_step/sec: 242.713
INFO:tensorflow:loss = 285.122, step = 6101 (0.412 sec)
INFO:tensorflow:global_step/sec: 248.483
INFO:tensorflow:loss = 107.445, step = 6201 (0.402 sec)
INFO:tensorflow:global_step/sec: 200.486
INFO:tensorflow:loss = 152.135, step = 6301 (0.499 sec)
INFO:tensorflow:global_step/sec: 238.172
INFO:tensorflow:loss = 72.404, step = 6401 (0.420 sec)
INFO:tensorflow:global_step/sec: 203.085
INFO:tensorflow:loss = 83.9313, step = 6501 (0.492 sec)
INFO:tensorflow:global_step/sec: 227.735
INFO:tensorflow:loss = 100.175, step = 6601 (0.439 sec)
INFO:tensorflow:global_step/sec: 244.602
INFO:tensorflow:loss = 295.788, step = 6701 (0.409 sec)
INFO:tensorflow:global_step/sec: 174.281
INFO:tensorflow:loss = 81.2505, step = 6801 (0.574 sec)
INFO:tensorflow:global_step/sec: 170.132
INFO:tensorflow:loss = 126.536, step = 6901 (0.588 sec)
INFO:tensorflow:global_step/sec: 169.851
INFO:tensorflow:loss = 113.18, step = 7001 (0.589 sec)
INFO:tensorflow:global_step/sec: 181.658
INFO:tensorflow:loss = 199.115, step = 7101 (0.551 sec)
INFO:tensorflow:global_step/sec: 191.255
INFO:tensorflow:loss = 84.716, step = 7201 (0.523 sec)
INFO:tensorflow:global_step/sec: 176.232
INFO:tensorflow:loss = 125.919, step = 7301 (0.567 sec)
INFO:tensorflow:global_step/sec: 181.822
INFO:tensorflow:loss = 152.759, step = 7401 (0.550 sec)
INFO:tensorflow:global_step/sec: 201.685
INFO:tensorflow:loss = 114.976, step = 7501 (0.496 sec)
INFO:tensorflow:global_step/sec: 176.984
INFO:tensorflow:loss = 83.9296, step = 7601 (0.565 sec)
INFO:tensorflow:global_step/sec: 203.503
INFO:tensorflow:loss = 86.7895, step = 7701 (0.491 sec)
INFO:tensorflow:global_step/sec: 227.469
INFO:tensorflow:loss = 100.338, step = 7801 (0.440 sec)
INFO:tensorflow:global_step/sec: 233.407
INFO:tensorflow:loss = 385.824, step = 7901 (0.428 sec)
INFO:tensorflow:global_step/sec: 218.573
INFO:tensorflow:loss = 96.9284, step = 8001 (0.458 sec)
INFO:tensorflow:global_step/sec: 183.506
INFO:tensorflow:loss = 95.5368, step = 8101 (0.546 sec)
INFO:tensorflow:global_step/sec: 184.129
INFO:tensorflow:loss = 92.9712, step = 8201 (0.542 sec)
INFO:tensorflow:global_step/sec: 232.769
INFO:tensorflow:loss = 196.257, step = 8301 (0.430 sec)

INFO:tensorflow:global_step/sec: 236.85
INFO:tensorflow:loss = 328.908, step = 8401 (0.422 sec)
INFO:tensorflow:global_step/sec: 236.555
INFO:tensorflow:loss = 83.9438, step = 8501 (0.423 sec)
INFO:tensorflow:global_step/sec: 180.52
INFO:tensorflow:loss = 299.983, step = 8601 (0.554 sec)
INFO:tensorflow:global_step/sec: 244.207
INFO:tensorflow:loss = 315.083, step = 8701 (0.409 sec)
INFO:tensorflow:global_step/sec: 236.924
INFO:tensorflow:loss = 151.669, step = 8801 (0.422 sec)
INFO:tensorflow:global_step/sec: 197.342
INFO:tensorflow:loss = 79.0574, step = 8901 (0.506 sec)
INFO:tensorflow:global_step/sec: 236.592
INFO:tensorflow:loss = 175.139, step = 9001 (0.423 sec)
INFO:tensorflow:global_step/sec: 238.578
INFO:tensorflow:loss = 136.051, step = 9101 (0.419 sec)
INFO:tensorflow:global_step/sec: 246.512
INFO:tensorflow:loss = 87.0456, step = 9201 (0.406 sec)
INFO:tensorflow:global_step/sec: 175.25
INFO:tensorflow:loss = 205.826, step = 9301 (0.571 sec)
INFO:tensorflow:global_step/sec: 182.236
INFO:tensorflow:loss = 93.8667, step = 9401 (0.548 sec)
INFO:tensorflow:global_step/sec: 195.521
INFO:tensorflow:loss = 69.7873, step = 9501 (0.512 sec)
INFO:tensorflow:global_step/sec: 249.143
INFO:tensorflow:loss = 84.3823, step = 9601 (0.401 sec)
INFO:tensorflow:global_step/sec: 228.91
INFO:tensorflow:loss = 99.0299, step = 9701 (0.437 sec)
INFO:tensorflow:global_step/sec: 250.428
INFO:tensorflow:loss = 78.6665, step = 9801 (0.399 sec)
INFO:tensorflow:global_step/sec: 246.72
INFO:tensorflow:loss = 79.1671, step = 9901 (0.405 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/9y/n0rxh9rj60q4v8zgsclp0gm97tm33p/T/tmp3gnxeb2c/model.ckpt.
INFO:tensorflow:Loss for final step: 88.9253.

### Evaluation

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [26]:
input_func_test = tf.estimator.inputs.pandas_input_fn(
    x=X_test,
    batch_size=len(X_test),
    shuffle=False)

In [27]:
predictions = list( LCM_model.predict(input_func_test) )

INFO:tensorflow:Restoring parameters from /var/folders/9y/n0rxh9rj60q4v8zgsclp0gm97tm33p/T/tmp3gnxeb2c/model.ckpt-10000

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [28]:
results = []
for prediction in predictions:
    results.append( prediction['class_ids'][0] )

In [29]:
results[0:25]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1]

In [17]:
len(y_val)

32561

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [30]:
# use notation of the function as documented.
y_true, y_pred = y_test, results
cr = classification_report(y_true, y_pred)

In [31]:
print(cr)

             precision    recall  f1-score   support

          0       0.89      0.90      0.90      7436
          1       0.67      0.65      0.66      2333

avg / total       0.84      0.84      0.84      9769

# Great Job!